#conte{
    width: 101%;
    margin-left: -1%;
    min-height: 100%;
    overflow: hidden;
    position: fixed;

}
#bod,#conte{
   background-color:  rgb(250,141,170);
   z-index: 99999;
}
.bod{
    background-image:  url("../img/flores.jpg") !important;
    background-repeat: no-repeat;
    background-size: cover;
}
#drawing_canvas {
    position: absolute;
    margin: auto;
    width: 80%;
    min-height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.cerrar{
    transform: translateY(-110%);
    transition: all 0.5s;
}
#nav{
    width: 100% !important;
}
.navbar-inverse{
    background-color: rgba(0,0,0,0.7) !important;

}
#aboutme{
    margin: auto;
    background-color: rgba(0, 0, 9, 0.1);
    width: 80%;
    margin: auto;
}
#triquetra{
    height: 2em;
     margin-top: 10px;
}
.skill{
    height: 13em;
    width: 13em;
}
.mgt5{
    margin-top: 5em;
}
/*Efecto de proyectos*/
/*Estilos Base*/
.contenedor-img {
    /*float: left;*/
    overflow: hidden;
    /*position: relative;*/
    text-align: center;
}
.contenedor-img .mascara,.contenedor-img .contenido {
    width: 300px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    margin: auto;
}
/*.contenedor-img img {
  display: block;
  position: relative;

}*/
.contenedor-img h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.9);
    margin: 20px 0 0 0
}
.contenedor-img p {
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 10px;
    text-align: center
}
.contenedor-img a.link {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #222;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000;
}
.contenedor-img a.link:hover {
    box-shadow: 0 0 5px #000
}
.ejemplo-2 img {
    transition: all 0.2s ease-in;
}
.ejemplo-2 .mascara {
    background-color: rgba(25,96,184, 0.8);
    width: 60em;
    min-height: 55em;
    opacity: 1;
    transform: translate(300px, 200px) rotate(45deg); /*Rotamos para dar efecto de diagonal y lo movemos por donde queremos que entre.*/
    transition: all 0.5s ease-in-out;
}
.ejemplo-2 h2 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: transparent;
    margin: 20px 1px 0px 10em;
    transform: translate(200px, -200px);/*Desplazamos el título arriba a la derecha*/
    transition: all 0.3s ease-in-out;
}
.ejemplo-2 p {
    transform: translate(-200px, 200px);/*Desplazamos la descripción abajo a la izquierda*/
    transition: all 0.4s ease-in-out;
    margin-right: -50%;
}
.ejemplo-2 a.link {
    transform: translate(0px, 100px);/*Desplazamos el link para abajo*/
    transition: all 0.3s 0.1s ease-in-out;
}

.ejemplo-2:hover .mascara {
    opacity:1;
    transform: translate(-96px, -120px) rotate(45deg);
}
.ejemplo-2:hover h2 {
    transform: translate(0px,0px);
    transition-delay: 0.3s;
}
.ejemplo-2:hover p {
    transform: translate(0px,0px);
    transition-delay: 0.4s;
}
.ejemplo-2:hover a.link {
    transform: translate(0px,0px);
    transition-delay: 0.5s;
}
/*footet*/
.footer{
    background-color: rgba(0,0,0,0.8);
    color: white;
    height: 5em;
    padding-top: 1.5em;
}
.yare{
    height: 30em !important;
    width: 90% !important;
    margin: auto;
}
